.footer{
    width: 100%;
    padding: 10px 10%;
    background-color: black;
    color:  white;
}
footer ul{
    list-style: none;
}
footer ul li{
    font-size: 20px;
    font-weight: 700;
    margin: 12px;
}
    
